
#table_style {

    border: 1px solid black;
    
    /* It collapses the border */
    border-collapse: collapse;
    
    background-color: lightyellow;

}

#table_style th {
    /* when you first enable this property you will see "double borders" you can fix that 
    with border-collapse - line 6 */
    border: 1px solid black;
    padding: 10px;
    color: darkviolet;
    font-size: 20px;
}

#table_style td {
    /* when you first enable this property you will see "double borders" you can fix that 
    with border-collapse - line 6*/
    border: 1px solid black;
    padding: 10px;
}

#ul_1 {
    /* The bullet is considered part of the text to center */
    list-style-position: inside;
    list-style-type: circle;
}

#ul_2 {
    /* The bullet is not considered as part of the text, the center will take in count only the text */
    list-style-position: outside;
    list-style-type: square;
}

#ol_1 {
    list-style-position: inside;
    list-style-type: upper-roman;
}

#ol_2 {
    list-style-position: outside;
    list-style-type: lower-alpha;
}