.show-bkg {
    background-color: grey;
}

#target {
    background-color: rgb(150,150,255);
    
    /* top: 100px;
    position: relative; */

    /* top: 30%;
    position: absolute; */

    top: 30%;
    position: fixed;
    
    /* z-index: 1; */
    z-index: -1;
}